.container {
    width: 468px;
    margin: auto;
    margin-top: 10rem;
}

#title {
    border-color: black;
    line-height: 30px;
    width: 300px;
    border-radius: 5px;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    padding-left: 15px;
    font-family: cursive;
    text-transform: none;
}

.form #save-btn{
    color: black;
    background-color: green;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    line-height: 25px;
    font-family: cursive;
    margin-left: 4px;
}
    
.form{
    padding-bottom: 10px;
    border-bottom: 0.13rem solid black;
}

.list {
    padding: 1rem 0;
}

.list .item{
    padding: 0.3rem 0;
    font-size: 20px;
    font-family: cursive;
    color: #3f3f3f;
}

.list input[type=checkbox] { 
    margin-right: 8px;
    height: 15px;
    width: 15px;
} 

.form .checkbox{
    margin-left: 5px;
    height: 25px;
    font-family: cursive;
    border: 0.13rem solid black;
    border-radius: 5px;
    cursor: pointer;
}

.list .item .delete{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-family: cursive;
    cursor: pointer;
    float: right;
    margin-right: 45px;
    margin-top: 1px;
}

#search {
    margin-top: 10px;
    border-color: black;
    line-height: 30px;
    width: 340px;
    border-radius: 5px;
    text-transform: uppercase;
}

.form .delete-all{
    font-family: cursive;
    background-color: red;
    color: white;
    border-radius: 5px;
    height: 33px;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
}