.container {
    width: 468px;
    margin: auto;
    margin-top: 10rem;
}

.form input{
    border-color: black;
    line-height: 30px;
    width: 300px;
    border-radius: 5px;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    padding-left: 15px;
    font-family: cursive;
    text-transform: none;
}

.form #save-btn{
    color: black;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    line-height: 25px;
    font-family: cursive;
}

.form #save-btn:hover{
    background-color: green;
}
    
.form{
    padding-bottom: 10px;
    border-bottom: 0.13rem solid black;
}

.list {
    padding: 1rem 0;
}

.list .item{
    padding: 0.3rem 0;
    font-size: 20px;
    font-family: cursive;
    color: #3f3f3f;
}

.list .item #dokme{
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.form .checkbox{
    margin-left: 5px;
    height: 25px;
    font-family: cursive;
    border: 0.13rem solid black;
    border-radius: 5px;
    cursor: pointer;
}